<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Tour Travel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Fullscreen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.m1_final_android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- Attributs de configuration du FileProvider -->
            <!-- Assurez-vous que les attributs sont définis correctement et correspondent à votre application -->

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".Compte"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Parametres"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Parametre" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_parametre" -->
        <!-- android:theme="@style/Theme.M1finalandroid" /> -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>